.ourProducts {
    padding: 70px 0;
}

.ourProducts .btnGreen {
    background-color: rgba(96, 213, 66, 1);
}

.ourProducts p {
    font-size: 18px;
    margin: 10px 0 10px 0;
    line-height: 28px;
}

.ourProducts .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(3, 3, 3, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all;
    transition-duration: 0.3s;

}

.ourProducts .product-details {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 203, 203, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: all;
    transition-duration: 0.3s;
    color: black;
    display: flex;
    align-items: center;

}

.ourProducts .overlay:hover {
    opacity: 1;


}

ul li button {
    border: none;
    background-color: transparent;
}

.active {
    border-bottom: 2px solid rgba(96, 213, 66, 1);

}


@media (max-width: 576px) {

    .ourProducts .btnGreen {
        margin-bottom: 20px;
    }

    .ourProducts .overlay a {
        width: fit-content;
    }

    .ourProducts .prodImgWrapper {
        height: 185px !important;
    }

    .ourProducts .overlay h4 {
        font-size: 14px;

    }

    .ourProducts .overlay p {
        font-size: 12px;
    }

    .ourProducts .overlay a {
        font-size: 12px;

    }

    .ourProducts .product-details h5 {
        font-size: 14px;
    }

    .ourProducts .product-details p {
        font-size: 12px;
    }




    .ourProducts .row {
        padding: 0 15px;
    }



}

@media (min-width: 577px) and (max-width: 769px) {
    .ourProducts .btnGreen {
        margin-bottom: 20px;
    }

}


@media (min-width: 769px) and (max-width: 992px) {
    .ourProducts .btnGreen {
        margin-bottom: 20px;
    }
}