.feedBack {
    background-color: rgba(22, 28, 40, 1);
    padding: 70px 0;
}

.feedBack h1 {
    font-size: 52px;
}

.feedBack img {
    margin-right: 10px;
}

.feedBack form {
    background-color: rgba(34, 41, 56, 1);
    padding: 35px 55px;
    border-radius: 20px;
}

.feedBack label {
    margin-bottom: 8px;
}

.feedBack .btn-primary {
    background-color: rgba(84, 189, 149, 1) !important;
    border: none !important;
    font-size: 14px !important;
    padding: 15px 0;
}


@media (max-width: 576px) {

    .feedBack {
        background-color: rgba(22, 28, 40, 1);
        padding: 40px 0;
    }


    .feedBack form {
        width: 95% !important;
        margin-top: 25px !important;
    }

    .feedBack .clientsWrapper {
        text-align: center;
    }
}



@media (min-width: 577px) and (max-width: 769px) {


    .feedBack .clientsWrapper {
        display: flex;
        justify-content: center;
        margin: 31px 0;
    }
}