.aboutUs header {
    background-image: url('/assets/imgs/Rectangle\ 161.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 80px;

}

.aboutUs {}

.aboutUs header h1 {
    border-bottom: 2px solid white;
}



.aboutUs .exporting {
    padding: 135px 0 70px 0;
}

.aboutUs .imgWrapper .greenBrdrCirlce {
    content: '';
    width: 450px;
    height: 450px;
    position: absolute;
    left: 114px;
    top: -42px;
    right: 0;
    bottom: 1px;
    z-index: 1;
    border: 2px solid rgba(96, 213, 66, 1);
    border-radius: 50%;
}

.aboutUs .imgWrapper .greenFilledCirlce {
    content: '';
    width: 55px;
    height: 55px;
    position: absolute;
    top: 25px;
    bottom: 1px;
    z-index: 55;
    background-color: rgba(96, 213, 66, 1);
    border-radius: 50%;
    right: 57px;
}


.aboutUs .exporting h1,
.aboutUs .exporting p {
    /* font-family: "Playfair Display", serif; */
    font-weight: 700;

}

.aboutUs .exporting p {

    line-height: 35px;
    font-size: 18px;
    margin: 35px 0;
}

.aboutUs .btnBox button:first-child {
    background-color: rgba(96, 213, 66, 1) !important;

}

.aboutUs .btnBox button:last-child {
    border: 1px solid rgba(96, 213, 66, 1);
}

.aboutUs .whyChooseUs h1 {
    font-size: 65px;
}

.aboutUs .whyChooseUs .iconWrapper img {
    background-color: rgba(96, 213, 66, 1);
    width: 100px;
    height: 100px;
    padding: 20px;
}

.aboutUs div.footer h1,
.aboutUs div.footer h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}





@media (max-width: 576px) {


    .aboutUs .exporting {
        padding: 40px 0 0 0;
    }


    .aboutUs .w-75 {
        width: 100% !important;
    }

    .aboutUs div.imgWrapper img {
        width: 75% !important;
        margin: 80px auto !important;
        display: block;

    }


    .aboutUs .imgWrapper .greenBrdrCirlce {
        width: 70%;
        height: 95%;
        left: 25%;
        top: -7%;

    }

    .aboutUs .imgWrapper .greenFilledCirlce {

        top: 2%;
        right: 4%;


    }

    .aboutUs .col-lg-4 div {
        background-color: #f7f5f5;
        padding: 20px;
        border-radius: 20px;
        margin: 15px 40px;
    }

    .aboutUs .whyChooseUs h1 {
        font-size: 38px;
    }


    .aboutUs .whyChooseUs .iconWrapper {
        align-items: start !important;
    }

    .aboutUs .whyChooseUs .iconWrapper img {
        background-color: rgba(96, 213, 66, 1);
        width: 50px;
        height: 50px;
        padding: 10px;
    }

}



@media (min-width: 577px) and (max-width: 769px) {

    .aboutUs .exporting {
        padding: 40px 0;
    }

    .aboutUs div.imgWrapper img {
        width: 75% !important;
        margin: 80px auto !important;
        display: block;

    }


    .aboutUs .imgWrapper .greenBrdrCirlce {
        width: 70%;
        height: 95%;
        left: 25%;
        top: -7%;

    }

    .aboutUs .imgWrapper .greenFilledCirlce {

        top: 2%;
        right: 11%;


    }

    .aboutUs .col-lg-4 div {
        background-color: #f7f5f5;
        padding: 20px;
        border-radius: 20px;
        margin: 15px 40px;
    }

}


@media (min-width: 769px) and (max-width: 992px) {

    .aboutUs .exporting {
        padding: 40px 0;
    }

    .aboutUs div.imgWrapper img {
        width: 75% !important;
        margin: 80px auto !important;
        display: block;

    }


    .aboutUs .imgWrapper .greenBrdrCirlce {
        width: 70%;
        height: 95%;
        left: 25%;
        top: -7%;

    }

    .aboutUs .imgWrapper .greenFilledCirlce {

        top: 2%;
        right: 11%;


    }

    .aboutUs .col-lg-4 div {
        background-color: #f7f5f5;
        padding: 20px;
        border-radius: 20px;
        margin: 15px 40px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    .aboutUs .exporting {
        padding: 40px 0;
    }

    .aboutUs div.imgWrapper img {
        width: 75% !important;
        margin: 80px auto !important;
        display: block;

    }


    .aboutUs .imgWrapper .greenBrdrCirlce {
        width: 70%;
        height: 95%;
        left: 25%;
        top: -7%;

    }

    .aboutUs .imgWrapper .greenFilledCirlce {

        top: 2%;
        right: 7%;


    }

    .aboutUs .col-lg-4 div {
        background-color: #f7f5f5;
        padding: 20px;
        border-radius: 20px;
        margin: 15px 40px;
    }
}

@media (min-width: 1201px) {

    .customizedFilledCirlceEnglish {
        right: 5.8% !important;
    }

    .customizedFilledCirlceArabic {
        left: 1% !important;
    }

}